
.icons {
    font-size: 45px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    
}
h1 {
    display: flex;
    justify-content: center;
}
p{
    display: flex;
    justify-content: center;
}