
.icons {
    font-size: 40px;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}
h1 {
    color: white;
    padding-left: 1em;
}
p {
    color: white;
    display: flex;
    justify-content: center;
}