
.container{
   background-image: url(./images/back.jpg);
   background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   text-align: center;
  padding: 6vw;
  }

.App {
    text-align: center;
  }
  
  